version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  node-app:
    build: .
    container_name: distributed_system_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://localhost:27017/distributed_system_db

volumes:
  mongo-data:
