version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  node-app:
    build: .
    container_name: distributed_system_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/distributed_system_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  worker:
    build: .
    container_name: message_worker
    depends_on:
      - redis
      - mongo
    command: node queues/messageWorker.js
    environment:
      - MONGO_URI=mongodb://mongo:27017/distributed_system_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  mongo-data:
  redis-data:
